f.ignore
.ssh
.helix
.venv
.vscode
/[bB]uild
[iI]nstall/
*.exe
.cache
.lvenv
compile_commands.json
[wW]eb/
project_structure.txt
emcc.lua
ThirdParty/
*.bak
sh.exe.stackdump
*.code-workspace
__pycache__
bin/
*.spv
*.png
*.jpg
*.gif
*.bmp
*.tga
.clangd
hx.sh
*~
*#
*.xcf
*.tmp
*.ORIG
.aider*
CMakeCache.txt
CMakeFiles/
*ConfigVersion.cmake
/org/**/*.el
/org/images/
/External
PublicGenerated/
CompileGenerated/
